.lang-text {
    margin-top: 100px;
    color: whitesmoke;
    font-family: pixel;
    text-align: center;
    max-height: 5vw;
    position: relative;
}

#javascript {
    width: 10%;
    margin-left: 10%;
    filter: invert(50%);
    max-width: 500px;
    position: relative;
}

#cs {
    width: 10%;
    margin-left: 70%;
    filter: invert(50%);
    max-width: 500px;
    position: relative;
}

#java {
    width: 20%;
    margin-left: 80%;
    filter: invert(75%);
    max-width: 500px;
    position: relative;
}

#rust {
    width: 15%;
    margin-left: 50%;
    filter: invert(62%);
    max-width: 500px;
    position: relative;
}

#kotlin {
    width: 30%;
    margin-left: 7%;
    filter: invert(85%);
    max-width: 500px;
    position: relative;
}

#python {
    width: 50%;
    margin-left: 50%;
    filter: invert(100%);
    max-width: 500px;
    position: relative;
}
