body{
    overflow:overlay;
}

html{
    scroll-behavior: smooth;
}

.main-container{
    height: 100vh;
    width: 100vw;
    background-image: url('../Image/technology-785742.jpg');
    background-size: cover;
}

.hidden{
    transition: all 500ms;
    width: 0 !important;
    height: 0 !important;
    display:none;
}

.abs-btn{
    width: 0;
    height: 0;
    visibility: hidden;
    position: absolute;
    right: 20px;
    top: 50px;
}


/* side bar related */
.side-bar{
    background-color: rgba(0, 0, 0, .8);
    overflow: hidden;
    min-width: 300px;
}

.home-icon{
    height: 20vh;
}

.initial-name{
    font-size: 5em !important;
}

.content{
    height: 60vh;
}

.content-item:hover{
    font-weight: bold;
    color: rgba(245, 245, 245, 1);
}



.side-bar-contact{
    height: 20vh;
}
/* end */

/* main coloumn related */
.main-coloumn{
    height: 100%;
    background-color: rgba(0, 0, 0, .9);
    overflow-y: scroll;
    overflow-x: hidden;
}

.section{
    min-height: 100vh;
    height: fit-content;
    padding: 3rem 0;
}

.home-content{
    min-width: 280px;
    width: 50%;
    height: fit-content;
}

.section-white{
    background-color: rgb(220, 220, 220);
}

.name-span{
    transform: translateY(-5.5rem);
}

.title-name{
    margin-top: 0 !important;
    font-size: 2rem;
}

.title-initial{
    font-size: 4rem;
}

.section-content{
    height: fit-content;
}

.sc-experience{
    border-style: solid;
}

#img-about{
    width: 300px;
    object-fit: cover;
}

.education{
    line-height: 1;
    margin-top: 0;
}
.year{
    line-height: 1;
    color: royalblue;
}

.cc{
    transition: all 500ms;
}
/* end */

/* icon related */
.light-icon{
    color: whitesmoke;
}