#work-at-section {
    padding-top: 200px;
}

.work-at {
    margin-left: 10%;
    color: whitesmoke;
    font-size: 8vw;
    font-family: josefin;
    max-height: 10wv;
    position: relative;
}

.work-at#work-at-text {
    margin-top: 800px;
    max-height: 8vw;
    font-size: 4vw;
}
